* {
    margin: 0;
    padding: 0;
    
}

:root {
    font-size: 18px;
}




/* 

selector {
    property: value;
    another-property: value;
}

.header-banner__h1 {
    color: red;
    text-transform: uppercase;
}

*/

